* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
     Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #eff3f7;
    height: 100%;
}

html,
body,
#potato,
#root,
.container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movies {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    padding: 50px;
    padding-top: 70px;
}

.movies .movie {
    width: 80%;
    background-color: #fff;
    margin-bottom: 70px;
    padding: 20px;
    font-weight: 300;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
    border-radius: 5px;
    text-align: center;
}

.movie img {
    max-width: 150px;
    position: relative;
    top: -50px;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
}

.movie img:hover {
    transition: all .2s linear;
    transform: translateY(-15px);
    
}
.movie img:not(:hover) {
    transition: all .2s linear;
    transform: translateY(+15px);
    
}


.movie h3,
.movie__year {
    font-weight: 400;
    margin: 0;
}

.movie__year {
    font-size: 24px;
    margin-top: 15px;
}

.movie__genre,
.movie__year
{
    color: #b2b3bc;
    
}
 
.movie__genre {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.movie__genre li {
    margin-right: 10px;     
    font-size: 14px;
}

@media only screen and (min-width: 1000px) {
    * {
        box-sizing: border-box;
    }
    body {
        margin: 0;
        padding: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
         Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: #eff3f7;
        height: 100%;
    }
    
    html,
    body,
    #potato,
    #root,
    .container {
        height: 100%;
        display: flex;
        justify-content: center;
    }
    
    .loader {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .movies {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap:wrap;
        padding: 50px;
        padding-top: 70px;
    }
    
    
    .movies .movie {
        width: 45%;
        background-color: #fff;
        margin-bottom: 70px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        font-weight: 300;
        box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
        border-radius: 5px;
    }
    
    .movie img {
        max-width: 150px;
        margin-right: 30px;
        position: relative;
        top: -50px;
        box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
    }
    
    .movie img:hover {
        transition: all .2s linear;
        transform: translateY(-15px);
        
    }
    .movie img:not(:hover) {
        transition: all .2s linear;
        transform: translateY(+15px);
        
    }
    
    .movie__data {
        width: 50%;
    }
    .movie__summary {
        font-size: 13px;
    }
    
    .movie__year {
        margin-top: 15px;
    }
    .movie__genre,
    .movie__year {
        font-size: 20px;
    }
    
    .movie__genre,
    .movie__year
    {
        color: #b2b3bc;

        
    }
     
    .movie__genre {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        margin: 5px 0;
    }
    
    .movie__genre li {
        margin-right: 10px;     
        font-size: 14px;
    }
    
}
